@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center" style="color:blue; background-color:lightcyan; border-radius:10px; margin:10px">
    <h1 class="display-4" style="margin:5px">@ViewData["Title"]</h1>
    <h1 class="display-6" style="margin-bottom:5px">Your data will be collected and used for our advertisement.</h1>
</div>