
<div class="text-center" style="color:blue; background-color:lightcyan; border-radius:10px; margin:10px">
    <h1 class="display-4" style="margin:5px">How to create post.</h1>
    <h1 class="display-6" style="margin-bottom:5px">Make a post about real life situations, funny meme or what is in your mind. Click on "Create" to start making your post <a asp-action="Create">Create</a>.</h1>
</div>
